
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  padding: 12px 20px;
  margin: 8px 0;
      width: 100%;
  box-sizing: border-box;
 border: 1px solid #ccc;
  outline: none;
    border-radius: 5px;
}
input[type=text]:focus {
  background-color: lightblue;
}
.form-inline  {
  vertical-align: middle;
 display: flex;
  flex-flow: row wrap;
    gap: 10px; /* 按钮间距 */

}
h1{
   text-align: center;
    font-family: 'Aboreto';

}
 .right{
      font-family: 'Aboreto';
      font-size: 12px;

}
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}

.registerbtn {
  padding: 14px 20px;
  background-color: #pink;

}

/* Float cancel and signup buttons and add an equal width */
.registerbtn, .signinbtn {
    display: inline-block;
    margin-right: 12%; /* 增加右侧间距 */

}

.form-inline {
  display: flex;
  gap: 10px; /* 两个 input 之间的间距 */
  margin-bottom: 10px;
}

.form-inline .child {
  flex: 1; /* 每个 input 占 50% */
  min-width: 0;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
  box-sizing: border-box;
 border: 1px solid #ccc;
  outline: none;
    border-radius: 5px;
}
input[type=text]:focus {
  background-color: lightblue;
}
.form-inline  {
  vertical-align: middle;
 display: flex;
  flex-flow: row wrap;
    gap: 10px; /* 按钮间距 */

}

button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius:12px
}
button:hover {
  opacity:1;
}

#registerbtn {
  padding: 14px 20px;
 
}

.form-inline.agreement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.form-inline.agreement .left {
  padding:10px;
  flex: 2;
  display: flex;
  align-items: center;
}

.form-inline.agreement .right {
  flex: 3; /* 右边 2/3 宽度 */
  margin: 10px;
  line-height: 1.5;
}
[target="registerbtn"] {
   background-color: lightblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
