#card-deck {
    display: flex;
      flex-wrap: wrap;
      padding: 1.5rem;
  }
  .card-wrapper {
    background: #f5f5f5;
    border-radius: 10px;
     flex-basis: calc(100% / 6);
      /* how big do we want our columns to be */
      padding: 6px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  .pokemon-card img {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }
  .pokemon-card h3 {
    margin: 10px 0 5px;
    color: #333;
  }
  .pokemon-card p {
    margin: 2;
    color: #666;
    font-size: 14px;
  }

.pokemon-card {
padding: 0.5rem;
border: 5px solid grey;
border-radius: 0.85rem;
box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.5);
}

.pokemon-card img {
width: 100%;
background-color: lightgrey;
}